<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Care Center</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        .logo {
            width: 50px;
            height: 50px;
            color: black;
            margin-top: 0;
            margin-left: 2px;
        }

        .myimg {
            width: 50px;
            height: 50px;
            border: 2px solid black;
            border-radius: 25px;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Logo at the top-left corner -->
            <div class="logo">
                <img class="myimg" src="{{ url_for('static', filename='img.png') }}" alt="">
            </div>

            <a class="navbar-brand" href="#">Health Center</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/developer">Login</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="/Login_signup.html">Login</a>
                    </li>-->
                </ul>
                <form class="d-flex" role="search">

                    <button class="btn btn-outline-success" type="submit">Refresh</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- main form of page -->
    <h1 style="text-align:center;font-size:3em;font-family:'Roboto',sans-serif;cursor:pointer;color:#3f0788;"
        onmouseover="this.style.color='green';"><span style="font-size:2em;">H</span><span
            style="font-size:1.5em;">ealth </span><span style="font-size:2em;">N</span>avigator</h1>

    <div class="container my-4 mt-4" style="background: black; color: white; border-radius: 15px; padding: 40px;">
        <form action="/predict" method="post">
            <div class="form-group">
                <label for="symptoms">Select Symptoms:</label>
                <!-- make this dropdown list searchable -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
                <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
                    rel="stylesheet" />
                <script>
                    $(document).ready(function () {
                        $('#symptoms').select2();
                    });
                </script>
                <style>
                    .select2-container {
                        width: 100% !important;
                    }
                </style>


                <select class="form-control" id="symptoms" name="symptoms">
                    <option value="">Select a symptom</option>
                    <option value="itching">Itching</option>
                    <option value="skin_rash">Skin Rash</option>
                    <option value="nodal_skin_eruptions">Nodal Skin Eruptions</option>
                    <option value="continuous_sneezing">Continuous Sneezing</option>
                    <option value="shivering">Shivering</option>
                    <option value="chills">Chills</option>
                    <option value="joint_pain">Joint Pain</option>
                    <option value="stomach_pain">Stomach Pain</option>
                    <option value="acidity">Acidity</option>
                    <option value="ulcers_on_tongue">Ulcers on Tongue</option>
                    <option value="muscle_wasting">Muscle Wasting</option>
                    <option value="vomiting">Vomiting</option>
                    <option value="burning_micturition">Burning Micturition</option>
                    <option value="spotting_urination">Spotting Urination</option>
                    <option value="fatigue">Fatigue</option>
                    <option value="weight_gain">Weight Gain</option>
                    <option value="anxiety">Anxiety</option>
                    <option value="restlessness">Restlessness</option>
                    <option value="lethargy">Lethargy</option>
                    <option value="patches_in_throat">Patches in Throat</option>
                    <option value="irregular_sugar_level">Irregular Sugar Level</option>
                    <option value="cough">Cough</option>
                    <option value="high_fever">High Fever</option>
                    <option value="sunken_eyes">Sunken Eyes</option>
                    <option value="breathlessness">Breathlessness</option>
                    <option value="sweating">Sweating</option>
                    <option value="dehydration">Dehydration</option>
                    <option value="indigestion">Indigestion</option>
                    <option value="headache">Headache</option>
                    <option value="yellowish_skin">Yellowish Skin</option>
                    <option value="dark_urine">Dark Urine</option>
                    <option value="nausea">Nausea</option>
                    <option value="loss_of_appetite">Loss of Appetite</option>
                    <option value="pain_behind_the_eyes">Pain Behind the Eyes</option>
                    <option value="back_pain">Back Pain</option>
                    <option value="constipation">Constipation</option>
                    <option value="abdominal_pain">Abdominal Pain</option>
                    <option value="diarrhoea">Diarrhoea</option>
                    <option value="mild_fever">Mild Fever</option>
                    <option value="yellow_urine">Yellow Urine</option>
                    <option value="yellowing_of_eyes">Yellowing of Eyes</option>
                    <option value="acute_liver_failure">Acute Liver Failure</option>
                    <option value="fluid_overload">Fluid Overload</option>
                    <option value="swelling_of_stomach">Swelling of Stomach</option>
                    <option value="swelled_lymph_nodes">Swelled Lymph Nodes</option>
                    <option value="malaise">Malaise</option>
                    <option value="blurred_and_distorted_vision">Blurred and Distorted Vision</option>
                    <option value="phlegm">Phlegm</option>
                    <option value="throat_irritation">Throat Irritation</option>
                    <option value="redness_of_eyes">Redness of Eyes</option>
                    <option value="sinus_pressure">Sinus Pressure</option>
                    <option value="runny_nose">Runny Nose</option>
                    <option value="congestion">Congestion</option>
                    <option value="chest_pain">Chest Pain</option>
                    <option value="weakness_in_limbs">Weakness in Limbs</option>
                    <option value="fast_heart_rate">Fast Heart Rate</option>
                    <option value="pain_during_bowel_movements">Pain During Bowel Movements</option>
                    <option value="pain_in_anal_region">Pain in Anal Region</option>
                    <option value="bloody_stool">Bloody Stool</option>
                    <option value="irritation_in_anus">Irritation in Anus</option>
                    <option value="neck_pain">Neck Pain</option>
                    <option value="dizziness">Dizziness</option>
                    <option value="cramps">Cramps</option>
                    <option value="bruising">Bruising</option>
                    <option value="obesity">Obesity</option>
                    <option value="swollen_legs">Swollen Legs</option>
                    <option value="swollen_blood_vessels">Swollen Blood Vessels</option>
                    <option value="puffy_face_and_eyes">Puffy Face and Eyes</option>
                    <option value="enlarged_thyroid">Enlarged Thyroid</option>
                    <option value="brittle_nails">Brittle Nails</option>
                    <option value="swollen_extremities">Swollen Extremities</option>
                    <option value="excessive_hunger">Excessive Hunger</option>
                    <option value="extra_marital_contacts">Extra Marital Contacts</option>
                    <option value="drying_and_tingling_lips">Drying and Tingling Lips</option>
                    <option value="slurred_speech">Slurred Speech</option>
                    <option value="knee_pain">Knee Pain</option>
                    <option value="hip_joint_pain">Hip Joint Pain</option>
                    <option value="muscle_weakness">Muscle Weakness</option>
                    <option value="stiff_neck">Stiff Neck</option>
                    <option value="swelling_joints">Swelling Joints</option>
                    <option value="movement_stiffness">Movement Stiffness</option>
                    <option value="spinning_movements">Spinning Movements</option>
                    <option value="loss_of_balance">Loss of Balance</option>
                    <option value="unsteadiness">Unsteadiness</option>
                    <option value="weakness_of_one_body_side">Weakness of One Body Side</option>
                    <option value="loss_of_smell">Loss of Smell</option>
                    <option value="bladder_discomfort">Bladder Discomfort</option>
                    <option value="foul_smell_ofurine">Foul Smell of Urine</option>
                    <option value="continuous_feel_of_urine">Continuous Feel of Urine</option>
                    <option value="passage_of_gases">Passage of Gases</option>
                    <option value="internal_itching">Internal Itching</option>
                    <option value="toxic_look_(typhos)">Toxic Look (Typhos)</option>
                    <option value="depression">Depression</option>
                    <option value="irritability">Irritability</option>
                    <option value="muscle_pain">Muscle Pain</option>
                    <option value="altered_sensorium">Altered Sensorium</option>
                    <option value="red_spots_over_body">Red Spots Over Body</option>
                    <option value="belly_pain">Belly Pain</option>
                    <option value="abnormal_menstruation">Abnormal Menstruation</option>
                    <option value="dischromic_patches">Dischromic Patches</option>
                    <option value="watering_from_eyes">Watering from Eyes</option>
                    <option value="increased_appetite">Increased Appetite</option>
                    <option value="polyuria">Polyuria</option>
                    <option value="family_history">Family History</option>
                    <option value="mucoid_sputum">Mucoid Sputum</option>
                    <option value="rusty_sputum">Rusty Sputum</option>
                    <option value="lack_of_concentration">Lack of Concentration</option>
                    <option value="visual_disturbances">Visual Disturbances</option>
                    <option value="receiving_blood_transfusion">Receiving Blood Transfusion</option>
                    <option value="receiving_unsterile_injections">Receiving Unsterile Injections</option>
                    <option value="coma">Coma</option>
                    <option value="stomach_bleeding">Stomach Bleeding</option>
                    <option value="distention_of_abdomen">Distention of Abdomen</option>
                    <option value="history_of_alcohol_consumption">History of Alcohol Consumption</option>
                    <option value="blood_in_sputum">Blood in Sputum</option>
                    <option value="prominent_veins_on_calf">Prominent Veins on Calf</option>
                    <option value="palpitations">Palpitations</option>
                    <option value="painful_walking">Painful Walking</option>
                    <option value="pus_filled_pimples">Pus Filled Pimples</option>
                    <option value="blackheads">Blackheads</option>
                    <option value="scurrying">Scurrying</option>
                    <option value="skin_peeling">Skin Peeling</option>
                    <option value="silver_like_dusting">Silver Like Dusting</option>
                    <option value="small_dents_in_nails">Small Dents in Nails</option>
                    <option value="inflammatory_nails">Inflammatory Nails</option>
                    <option value="blister">Blister</option>
                    <option value="red_sore_around_nose">Red Sore Around Nose</option>
                    <option value="yellow_crust_ooze">Yellow Crust Ooze</option>
                    <option value="prognosis">Prognosis</option>
                    <!-- Add more symptoms here -->
                </select>
            </div>
            <br>
            <button type="button" id="startSpeechRecognition" class="btn btn-primary"
                style="margin-left:3px;border:1px solid white; border-radius:20px;">
                Start Speech Recognition
            </button>
            <br>

            <!-- Display the transcribed text here -->
            <div name="mysysms" id="transcription"></div>

            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
            <br>

            <button type="submit" class="btn btn-danger btn-lg"
                style="width: 100%; padding: 14px; margin-bottom: 5px;">Predict</button>
        </form>

        {% if warning_message %}
        <!-- Display warning message if medications are recommended -->
        <p style="color: red; font-size:l;">{{ warning_message }}</p>
        {% endif %}
    </div>

    {% if predicted_disease %}
    <!-- Results -->
    <h1 class="text-center my-4 mt-4">Our AI System Results</h1>
    <div class="container">
        <div class="result-container">
            <!-- Buttons to toggle display -->
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#diseaseModal"
                style="padding:4px;  margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#F39334;color:black;">Disease</button>
            <!-- Add other buttons here -->
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#descriptionModal"
                style="padding:4px;  margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#F39334;color:black;">Description</button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#precautionModal"
                style="padding:4px;  margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#F39334;color:black;">Precaution</button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#medicationsModal"
                style="padding:4px;  margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#F39334;color:black;">Medicine</button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#workoutsModal"
                style="padding:4px;  margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#F39334;color:black;">Workouts</button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#dietsModal"
                style="padding:4px;  margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#F39334;color:black;">Diets</button>
        </div>
    </div>
    {% endif %}


    <!-- Disease Modal -->
    <div class="modal fade" id="diseaseModal" tabindex="-1" aria-labelledby="diseaseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="diseaseModalLabel">Predicted Disease</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ predicted_disease }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Description Modal -->
    <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="descriptionModalLabel">Description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ dis_des }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Precaution Modal -->
    <div class="modal fade" id="precautionModal" tabindex="-1" aria-labelledby="precautionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="precautionModalLabel">Precaution</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in my_precautions %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <!-- Medications Modal -->
    <div class="modal fade" id="medicationsModal" tabindex="-1" aria-labelledby="medicationsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="medicationsModalLabel">Medications</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in medications %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Workouts Modal -->
    <div class="modal fade" id="workoutsModal" tabindex="-1" aria-labelledby="workoutsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="workoutsModalLabel">Workouts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in workout %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Diets Modal -->
    <div class="modal fade" id="dietsModal" tabindex="-1" aria-labelledby="dietsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="dietsModalLabel">Diets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in my_diet %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script>
        const startSpeechRecognitionButton = document.getElementById('startSpeechRecognition');
        const symptomsInput = document.getElementById('symptoms');

        startSpeechRecognitionButton.addEventListener('click', startSpeechRecognition);

        function startSpeechRecognition() {
            const recognition = new webkitSpeechRecognition(); // Use webkitSpeechRecognition for compatibility

            recognition.lang = 'en-US'; // Set the language for recognition

            recognition.onresult = function (event) {
                const result = event.results[0][0].transcript;
                symptomsInput.value = result;
            };

            recognition.onend = function () {
                console.log('Speech recognition ended.');
            };

            recognition.start();
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>