<!-- login_signup.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="form-modal">
        <div class="form-toggle">
            <button id="login-toggle" onclick="toggleLogin()">log in</button>
            <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
        </div>

        <div id="login-form">
            <form id="login-form">
                <input type="text" placeholder="Enter email or username" id="login-username" />
                <input type="password" placeholder="Enter password" id="login-password" />
                <button type="button" class="btn login" onclick="login()">login</button>
                <p><a href="#">Forgotten account</a></p>
                <hr />
                <!-- Sign in with external providers buttons -->
            </form>
        </div>

        <div id="signup-form">
            <form id="signup-form">
                <input type="email" placeholder="Enter your email" id="signup-email" />
                <input type="text" placeholder="Choose username" id="signup-username" />
                <input type="password" placeholder="Create password" id="signup-password" />
                <button type="button" class="btn signup" onclick="signup()">create account</button>
                <p>Clicking <strong>create account</strong> means that you are agree to our <a href="#">terms of
                        services</a>.</p>
                <hr />
                <!-- Sign up with external providers buttons -->
                <button type="button" class="btn -box-sd-effect"> <i class="fa fa-google fa-lg" aria-hidden="true"></i>
                    sign in with google</button>
                <button type="button" class="btn -box-sd-effect"> <i class="fa fa-linkedin fa-lg"
                        aria-hidden="true"></i> sign in with linkedin</button>
                <button type="button" class="btn -box-sd-effect"> <i class="fa fa-windows fa-lg" aria-hidden="true"></i>
                    sign in with microsoft</button>
            </form>
        </div>

        <div id="signup-form">
            <form>
                <input type="email" placeholder="Enter your email" />
                <input type="text" placeholder="Choose username" />
                <input type="password" placeholder="Create password" />
                <button type="button" class="btn signup">create account</button>
                <p>Clicking <strong>create account</strong> means that you are agree to our <a
                        href="javascript:void(0)">terms of services</a>.</p>
                <hr />
                <button type="button" class="btn -box-sd-effect"> <i class="fa fa-google fa-lg" aria-hidden="true"></i>
                    sign up with google</button>
                <button type="button" class="btn -box-sd-effect"> <i class="fa fa-linkedin fa-lg"
                        aria-hidden="true"></i> sign up with linkedin</button>
                <button type="button" class="btn -box-sd-effect"> <i class="fa fa-windows fa-lg" aria-hidden="true"></i>
                    sign up with microsoft</button>
            </form>
        </div>

        </form>
    </div>
    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>